# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata
DerivedData/
build/
*.mode1v3
*.mode2v3
*.pbxuser
!default.pbxuser
*.moved-aside
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
Thumbs.db

# Secrets
*.env
*.private.*

# IDE
.idea/
.vscode/
